[Unit]
Description=ROS2 controller manager with loaded bumperbot hardware interfaces
PartOf=bumperbot.target
After=dev-ttyUSB0.device network.target robot_state_publisher.service
BindsTo=dev-ttyUSB0.device
Requires=robot_state_publisher.service
StartLimitIntervalSec=20
StartLimitBurst=3

[Service]
Type=simple
User=root
Group=root
EnvironmentFile=-/run/bumperbot.env
ExecStartPre=/opt/ros/jazzy/share/bumperbot_bringup/scripts/run_env_setup.sh
ExecStart=/opt/ros/jazzy/bin/ros2 run controller_manager ros2_control_node
Restart=on-failure
RestartSec=5s

[Install]
RequiredBy=bumperbot.target
