[Unit]
Description=ROS2 bumperbot diff drive controller
PartOf=bumperbot.target
After=network.target controller_manager.service
BindsTo=controller_manager.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
Group=root
EnvironmentFile=-/run/bumperbot.env
ExecStartPre=/opt/ros/jazzy/share/bumperbot_bringup/scripts/run_env_setup.sh
ExecStart=/opt/ros/jazzy/bin/ros2 launch bumperbot_controller joint_state_broadcaster.launch.py
ExecStop=/opt/ros/jazzy/bin/ros2 run controller_manager unspawner joint_state_broadcaster
TimeoutStartSec=15
TimeoutStopSec=15

[Install]
RequiredBy=bumperbot.target
