[Unit]
Description=Bumperbot teleoperation via bluetooth joystick
Requires=bumperbot.target
Requires=joy_teleop.service

After=bumperbot.target
After=joy_teleop.service

[Install]
WantedBy=multi-user.target
